node_modules
npm-debug.log
.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
vendor
storage/*.key
public/hot
public/storage
.DS_Store
Thumbs.db
*.log
*.cache
.idea
.vscode
.fleet
rastiujikom

